@import url("https://fonts.googleapis.com/css?family=Fira+Sans|Oxygen");

.comment {
	margin: 10px 0 10px 0;
}

#song-cover {
	width: 250px;
}

#audio-player {
    padding-left: 0;
    padding-right: 0;
    margin-left: 15px;
	background-color: black;
}

#post-a-commment textarea {
	width: 100%;
	height: 200px;
	color: black;
	padding: 5px 5px 5px 5px;
}

#post-a-commment span{
	font-size: 21px;
}

#song-info {
	
}