body {
	background-color: #303030;
	color: white;
}

/*
body {
	background-color: #D0D0D0;
	color: black;
}*/

#ilust {
	max-width: 100%; 
	display: block; 
	margin: auto;
	background-color: black;
}

.illust-box {
	padding-top: 5px;
	padding-bottom: 15px;
}

.desc-box-illust {
	padding: 10px 4px 15px 4px;
}

.comment-box-illust {
	padding: 20px 4px 10px 4px;
}

.illust-container{

}

.ckeditor-box {
	padding: 15px 0 15px 0; 
}