#ilust {
	max-width: 100%; 
	display: block; 
	margin: auto;
	background-color: black;
}

.desc-box-illust {
	padding: 10px 4px 15px 4px;
}

.comment-box-illust {
	padding: 20px 10px 10px 10px;
}

.ckeditor-box {
	padding: 15px 0 15px 0; 
}

#user-avatar-comment {
	width:75px;
}

.comment {
	margin: 10px 0 10px 0;
	padding-right: 10px;
}