body {
	background: url('../img/silkbrush8.png');
	background-repeat: space;
	background-color: #303030;
	background-attachment: fixed;
	color: white;
}

.navbar span {
	color: crimson; 
}

#ilust {
	max-width: 300px;
	max-height: 210px;
	display: block; 
	margin: auto;
	background-color: black;
}

.desc-box-illust {
	padding: 10px 4px 15px 4px;
}