body {
	background: url('../img/silkbrush8.png');
	background-repeat: space;
	background-color: #303030;
	background-attachment: fixed;
	color: white;
}

p{
	text-align: center;
}
.navbar span {
	color: crimson; 
}

h1 span {
	color: crimson;
}

h1{
	
}

#ilust {
	max-width: 320px;
	height: 205px;
	display: block; 
	margin: auto;
	background-color: black;
}

#audio-img {
	width: 300px;
	height: 180px;
	display: block; 
	margin: auto;
	background-color: black;
}

#audio-player{
	width: 300px;
	align-self: center;
}

#audio-img-carusel {
	width: 70%;
	height: 180px;
	display: block; 
	margin: auto;
	background-color: black;
}

#audio-player-carusel{
	width: 70%;
}

#ilust-carusel {
	width: auto;
	height: 217px;
	display: block; 
	margin: auto;
	background-color: black;
}

#box {
	text-align: center;
	align-items: center;
	align-self: center;
}

.desc-box-illust {
	padding: 10px 4px 15px 4px;
}

#boton-paginado{
	padding-bottom: 2px;
}

#botones-numericos{
	padding-left: 50px;
	padding-right: 50px;
}