body {
	background: url('../img/silkbrush8.png');
	background-repeat: space;
	background-color: #303030;
	background-attachment: fixed;
	color: white;
}

.navbar span {
	color: crimson; 
}

.comment-section {
	margin-top: 20px;
	margin-bottom: 20px;
}

.comment-section .comment {
	margin: 10px 0 10px 0;
}

#song-cover {
	width:250px;
}

#user-avatar-comment {
	width:100px;
}

#song-info-container {
	margin-top:75px;
}

.user-info {
	margin-top:75px;
	margin-bottom: 15px;
}

.user-posts {

}

#user-pic {
	width: 200px;
}

.media-body {
	padding-left: 15px;
	border-left: 1px solid #fff;
}

.media-left {
	padding-right: 20px;
}