.user-posts {
	margin-top: 20px;
	/*font-family: 'Open Sans', sans-serif;
	font-family: 'Muli', sans-serif;*/
}

.media-left {
	padding-right: 15px;
	border-right: 1px solid #fff;
}

.flex {
	display: flex;
}

.caption {
	text-align: center;
}

.caption a {
	color: white;
	font-size: 14px;
}

.thumbnail {
	background-color: transparent;
	border: none;
	width: 100%;
}

.thumbnail img{
	max-height: 200px;
}

#user-pic {
	width: 100%;
	margin: auto;
	max-height: 300px;
}

.aling-img img {
	display: block;
    margin: auto;
}

.container {
	font-family: 'Muli', sans-serif;
}

.nav-tabs > li > a {
	color: lightgray;
}

.nav-tabs > li > a:hover {
	background-color: gray;
}

@media (max-width: 768px) {
	.caption {
		display: none;
	}
}