body {
    background: url('../img/silkbrush8.png');
    background-repeat: space;
    background-color: #303030;
    background-attachment: fixed;
    color: white;
}


/*
body {
	background-color: #D0D0D0;
	color: black;
}*/

.navbar span {
    color: crimson;
}


/*Desde aquí*/

#titulo{
    font-size: 4em;
    font-family: fantasy;
    color: #DAA520;
}

div h4 {
    font-size: 2em;
}

div p {
    font-size: 1.1em;
    color: #F0F8FF;
}

img:hover {
    /*Cuándo pasas el ratón sale un efecto adelante*/
    -webkit-transform: scale(1.05);
}

img{
    -webkit-transition: -webkit-transform 0.3s ease-in-out 0.1s;
    /*Cuánto tarda en ejecutar el efecto por completo*/
}

.row{
    margin: 1px;
    margin-top: 40px;
}

.headercomentario{
    background: #000000;
    text-align: center;
    font-weight: bold;
}

#cabecera {
    margin-top: 40px;
}

#subt {
    color: crimson;
}

footer {
    text-align: center;
    background-color: #303030;
    clear: both;
}

.botones-tabla {
    width: 100%;
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
}

.posicion{
    align-content: center;
}

#nomautor{
	text-align: center;
}

#nomcancion{
	text-align: center;
}

#visu{
	text-align: center;
}

#barra{
	text-align: center;
}

h1{
    font-size: 3em;
    font-family: fantasy;
    text-align: cener;
}

.top{
    
    padding-top: 13px;
    color:#DAA520;
    font-size: 3em;
	margin: 0px 0px 10px 10px;
}

#rojo{
    font-family: fantasy;
	color: red;
}

#acont{
	font-size: 3em;
    font-family: "Times New Roman", Georgia, serif;
    color: white;	
}

.lineapunteada{
	border:1px dotted white; 
	width:300px"
}

#foto{
	display: block;
      margin-left: auto;
      margin-right: auto;
      border:none;
}

.centrar{
	text-align:center;
}

.ilust {
    /*max-width: 300px;*/
    /*height: 300px;*/
    display: block; 
    margin: auto;
    background-color: black;
    width: 50%;/*con estos parámetros*/
    height: auto; /*hacemos que sea responsive*/
}